<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>

    {% if user %}
        <!-- словарь в шаблонах можно как обычно, а так же через . как свойство объекта  -->
        <p style="text-align: right;">Hello {{ user.fname }} {{ user['lname']}}</p> 
    {% endif %}

    {% set q = 1111111111 %}

    {% if q == 1 %}
        <p>1111111</p>
    {% else %}
        <p>22222222</p>
    {% endif %}

    {% if admin %}
        <button> Click1 </button>
        <button> Click2 </button>
        <button> Click3 </button>
    {% endif %}

    <h1>Hello</h1>
    <h2>Python</h2>
    <p> {{ q }} </p>

    
    <a href="/users/"> пользователи </a>
    <br>
    <a href="/form1/"> форма </a>
    <br>
    <!-- по имени ендпоита/вьюФункции -->
    <a href="{{ url_for('users_') }}"> пользователи </a>
    <br>
    <a href="{{ url_for('test', num=50) }}"> тест </a>

</body>
</html>